  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #424242;
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    background-position: right .7em top 60%, 0 0;
    background-size: .99em auto;
	height: 30px;
	width: 210px;;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 20px;
	color: #b0b0b0;
	border-radius: 5px;
	border-color: #ffffff;
	border-width: 1px;
}

input[type="date"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #424242;
    background-repeat: no-repeat;
    background-position: right .7em top 60%, 0 0;
    background-size: .99em auto;
	height: 30px;
	width: 210px;;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 20px;
	color: #b0b0b0;
	border-radius: 5px;
	border-color: #ffffff;
	border-width: 1px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


input[type="range"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	font-family: 'Roboto', sans-serif;
	color: #b0b0b0;
	border-radius: 10px;
	border-color: #ffffff;
	border-width: 1px;
	padding-left: 0px;
	padding-right: 0px;
	
	}


input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    left: 7%;
	filter: invert(1);
	}	


	button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #02b329;
    background-repeat: no-repeat;
	height: 50px;
	width: 200px;;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	padding-left: 12px;
	padding-right: 12px;
	color: #000000;
	border-radius: 15px;
	border-color: #00440f;
	border-width: 4px;
}	

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 10px;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}




.emframe {
	background-color: #000;
	border-style: solid; 
	border-radius: 5px; 
	border-color: #000000; 
	border-width: 4px; 
	width: 580px; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	background-color:#424242;
	vertical-align: top;

	
}

.tallselect {
	height: 60px;
	background-image: test.jpg;
}	



.borderdiv {
	width: 460px;  
	margin-top: 15px;
	padding-top: 22px; 
	padding-bottom: 22px; 
	padding-left: 5px; 
	padding-right: 5px; 
	z-index:0;
	border-style: solid; 	
	border-radius: 50px; 
	border-color: #005baa; 
	border-width: 8px;
	

}

.borderdiv::after {
	border-style: solid; 	
	border-radius: 50px; 
	border-color: #005baa; 
	border-width: 8px;
	
}	




	